@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-farm-dark text-white font-sans antialiased;
  }
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
